
@{
    ViewBag.Title = "New";
}

<h2>New Compositon</h2>
<form method="POST" action="/Comp/Create">
    <div>
        <label for="CompName">Comp Name: </label>
        <input type="text" id="CompName" name="CompName" />
    </div>

    <div>
        <label for="CompClass1">Comp Class 1: </label>
        <input type="text" id="CompClass1" name="CompClass1" />
    </div>
    <div>
        <label for="CompClass2">Comp Class 2: </label>
        <input type="text" id="CompClass2" name="CompClass2" />
    </div>
    <div>
        <label for="CompClass3">Comp Class 3: </label>
        <input type="text" id="CompClass3" name="CompClass3" />
    </div>

    <div>
        <input type="submit" value="Create Comp" />
    </div>


</form>

