@model N01426963_passionproject.Models.Comp



@{
    ViewBag.Title = "Show";
}




<nav>
    <a class="navlink" href="/Comp/List">Back to Composition List</a>
    <a class="dellink" href="/Comp/DeleteConfirm/@Model.CompID">Delete</a>

</nav>

<h2>@Model.CompName</h2>
<p>@Model.CompClass1 </p>
<p>@Model.CompClass2 </p>
<p>@Model.CompClass3 </p>



