@model N01426963_passionproject.Models.Comp



@{
    ViewBag.Title = "Show";
}


<h2>Show Composition</h2>

<nav>
    <a class="navlink" href="/Comp/List">Back to Composition List</a>
    <a class="dellink" href="/Comp/DeleteConfirm/@Model.CompID">Delete</a>

</nav>

<h3>@Model.CompName</h3>

<p>@Model.CompClass1 </p>
<p>@Model.CompClass2 </p>
<p>@Model.CompClass3 </p>



